extends layout

block content
  div(id="navbar" class="topnav")
    a(href='/' style="float: left") Home
    a(id="navbar_resources" href="/materiais" style="float: left") Materiais
    if(nivel=="Administrador")
      a(id="navbar_resources" href="/users" style="float: left") Utilizadores
    if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
      a(style="float: left")=nivel
      a(href="/users/"+idUser style="float: left") Perfil
      a(href="/users/logout" style="float: right") Logout
    else
      a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
      a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo
    
  if noticias
    h1 Notícias
    ul
      each n in noticias
        if(n.existe==1)
          li 
            a(href='/users/'+ n.idAutor) !{n.nomeAutor} 
            l publicou 
            a(href='/materiais/'+ n.idMaterial) !{n.nomeRecurso}   
            l em !{n.data} 
        else 
          li 
            l Publicação 
            b !{n.nomeRecurso} 
            l de 
            a(href='/users/'+ n.idAutor) !{n.nomeAutor} 
            l foi removida em !{n.data}