extends layout

block content
  div(id="navbar" class="topnav")
    a(href='/' style="float: left") Home
    a(id="navbar_resources" href="/materiais" style="float: left") Materiais
    if(nivel=="Administrador")
      a(id="navbar_resources" href="/users" style="float: left") Utilizadores
    if(nivel=="Administrador" ||nivel=="Produtor" || nivel=="Consumidor" )
      a(href="/users/"+idUser style="float: left") Perfil
      a(href="/users/logout" style="float: right") Logout
    else
      a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
      a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo
    
  if noticias
    body(style='background-image: url(/imagens/fundo.png);  background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;')
      h1(style='margin-left: 30px;')
        b Notícias
      if noticias.length > 0
        ul
          each n in noticias
            if(n.existe==1)
              li(style='font-size: 20px;') 
                a(href='/users/'+ n.idAutor) !{n.nomeAutor} 
                l publicou 
                a(href='/materiais/'+ n.idMaterial) "!{n.nomeRecurso}"   
                l em !{n.data} 
            else 
              li(style='font-size: 20px;') 
                l Publicação 
                b "!{n.nomeRecurso}" 
                l de 
                a(href='/users/'+ n.idAutor) !{n.nomeAutor} 
                l foi removida em !{n.data}
      else 
        h2.center Não existem noticias para apresentar 

  else 
    body(style='background-image: url(https://www.lscph.org.au/wp-content/uploads/2020/02/Books.jpg);  background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;')
      h1(style="text-align:center; color: orange; font-size:60px; margin-top: 75px") Repositório de Recursos Didáticos