extends layout 

block content 
    div(id="navbar" class="topnav")
        a(href='/' style="float: left") Home
        a(id="navbar_resources" href="/materiais" style="float: left") Materiais
        if(nivel=="Administrador")
            a(id="navbar_resources" href="/users" style="float: left") Utilizadores
        if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
            a(href="/users/"+idUser style="float: left") Perfil
            a(href="/users/logout" style="float: right") Logout
        else
            a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
            a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo 
    body(style='background-image: url(/imagens/fundo.png);  background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;')
     if nivel != "IND"
        div(style="float:left" )
            form(action=`/materiais/procurar` method="GET" style="display: inline-flex")
                select.w3-select(name="procurar"  class="w3-input w3-border w3-blue" style="width: 100px;")
                        option(value="tipo") Tipo
                        option(value="titulo") Titulo
                        option(value="autor") Autor
                textarea(name="texto", cols="25", rows="1") 
                button.btn.btn-primary(type="submit") Filtrar
        table(class="w3-table-all")
            tr 
                th Titulo 
                th Tipo 
                th Data Criação 
                th Descrição 
                th id Autor 
                th Nome Autor
                th Classificação 
                th ficheiros 
                th
                
            each m in materiais 
                tr 
                    td
                        a(href="/materiais/"+m._id)=m.titulo 
                    td=m.tipo
                    td=m.dataCriacao 
                    td=m.descricao 
                    td=m.idAutor 
                    td=m.nomeAutor 
                    if(m.classificacoes.length == 0)
                        td Por classificar 
                    else 
                        - let soma = 0
                        each classi in m.classificacoes 
                            - soma += classi.pontuacao 
                        - var nota = soma / m.classificacoes.length 
                        td=nota
                    td=m.ficheiros.length
                    td 
                        if(nivel=="Administrador")
                            a(href=`/materiais/remover/${m._id}`) Remover
        if(nivel=="Produtor" | nivel == "Administrador" )
            form(action=`/materiais/upload` method="GET" style="display: inline-block")
                    button.btn.btn-primary(type="submit") +
     else 
        div(class="w3-panel")
            h1(style='text-align: center; margin-top: 75px;') Para aceder a este conteúdo deve primeiro 
                a(href='/users/signup') registar-se 
                l ou fazer 
                a(href='/users/login') login
                l !
                            