extends layout 

block content 
    link(rel='stylesheet' href='/stylesheets/recurso.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap-recurso.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/poppematerial.js/1.14.6/umd/poppematerial.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
    script(src='/javascripts/bootstrap-tabs.js')
    link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/modal.css')
    div(id="navbar" class="topnav")
        a(href='/' style="float: left") Home
        a(id="navbar_resources" href="/materiais" style="float: left") Materiais
        if(nivel=="Administrador")
            a(id="navbar_resources" href="/users" style="float: left") Utilizadores
        if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
            a(style="float: left")=nivel
            a(href="/users/"+idUser style="float: left") Perfil
            a(href="/users/logout" style="float: right") Logout
        else
            a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
            a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo 

    div(id="preview_ficheiro" class="modal")
    table.table 
        tr 
            td Titulo 
            td Tipo 
            td Descricao 
            td Data Criacao 
            td Data Registo 
            td Número de visualizações 
            td Número de downloads
            td Classificação
        tr 
            td=material.titulo 
            td=material.tipo 
            td=material.descricao 
            td=material.dataCriacao 
            td=material.dataRegisto
            td=material.visualizacoes 
            td=material.downloads
            if(material.classificacao < 0)
                td Por classificar 
            else 
                td=material.classificacao
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
        b
            span(style="color:#0074D9; margin-left: -15px") Classificar: 
    .col-xs-12.col-sm-3.col-md-3.col-lg-3
        div(class="stars rate" data-percent=`${material.classificacao}` style="margin-left: -550px; margin-top: 0px; margin-bottom: 0px")
            a(class="classificarRecurso" href=`/materiais/${material._id}/classificar/20#${material._id}` title="Horrível") ★
            a(class="classificarRecurso" href=`/materiais/${material._id}/classificar/40#${material._id}` title="Decente") ★
            a(class="classificarRecurso" href=`/materiais/${material._id}/classificar/60#${material._id}` title="Bom") ★
            a(class="classificarRecurso" href=`/materiais/${material._id}/classificar/80#${material._id}` title="Muito bom") ★
            a(class="classificarRecurso" href=`/materiais/${material._id}/classificar/100#${material._id}` title="Excelente") ★  
    .col-xs-12.col-sm-1.col-md-1.col-lg-1
        form(action="/materiais/download/"+material._id method="POST")
            button.btn.btn-primary(id="submit_download" type="submit") Download
    table.table 
        tr 
            td Nome Ficheiro 
            td Tamanho 
            td Tipo 
            td Visualizar 
        each m in material.ficheiros 
            tr 
                td=m.nomeFicheiro 
                td=m.tamanho 
                td=m.mimetype 
                td
                    button(type="button" class="resource-btn" onclick=`previewFicheiro("${m.nomeFicheiro}", "${m.diretoria}", "${m.mimetype}")`) 👁

    ul.comments    
        l.clearfix
                    form(id="comentarPostForm" action='/materiais/'+ material._id+"/addComment" method="POST")
                        textarea(id="commentPost" name="corpo" placeholder="Insira o seu comentário..." maxlength="255" style="height:120px; width:100%; resize: none")
                        input(class="w3-right btn btn-primary" type="submit" id="commentButton" value="Comentar" style="margin")    
        each c in material.comentarios
             - dataTimeline = moment(new Date(c.dataCriacao)).locale('pt').fromNow() 
             li.clearfix
              .post-comments
                     figcaption 
                      a(href=`/users/${c.id_autor}`)
                       b
                        if material.id_autor == c.id_autor 
                         | Eu 
                        else 
                         | #{c.nome_autor}
                     p.meta
                        | #{dataTimeline}:
                        i.pull-right
                     p 
                        | #{c.corpo}