extends layout 

block content 
    link(rel='stylesheet' href='/stylesheets/recurso.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap-recurso.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/poppematerial.js/1.14.6/umd/poppematerial.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
    script(src='/javascripts/bootstrap-tabs.js')
    link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/modal.css')
    div(id="navbar" class="topnav")
        a(href='/' style="float: left") Home
        a(id="navbar_resources" href="/materiais" style="float: left") Materiais
        if(nivel=="Administrador")
            a(id="navbar_resources" href="/users" style="float: left") Utilizadores
        if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
            a(href="/users/"+idUser style="float: left") Perfil
            a(href="/users/logout" style="float: right") Logout
        else
            a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
            a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo 
    

    body(style='background-image: url(/imagens/fundo.png);  background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;')
    .row(style='margin-top: 20px; text-indent :2em;')
        h1(style='margin-left: 30px;margin-top : 0px')=material.titulo
        form(action="/materiais/download/"+material._id method="POST" style="height:10px")
            button.btn.btn-primary(id="submit_download" type="submit") Download
        if(nivel=="Administrador")
            form(action="/materiais/remover/"+material._id method="DELETE" style="height:10px")
                button.btn.btn-danger(id="submit_delete" type="submit") Remover

    p(style='margin-left:45px;') 
        b Descrição: 
        l !{material.descricao}

    div(id="preview_ficheiro" class="modal")
    h3(style='margin-top: 30px;margin-left: 30px;') Informações: 
    table.table(class="w3-table-all w3-card-4" style='margin-left: 40px;width: 60%;') 
        tr(style='height: 5px;')
            td 
                b Tipo 
            td 
                b Data Criacao 
            td 
                b Data Registo 
            td 
                b Número de visualizações 
            td 
                b Número de downloads
            td 
                b Classificação
        tr(style='height: 5px;') 
            td=material.tipo 
            td=material.dataCriacao 
            td=material.dataRegisto
            td=material.visualizacoes 
            td=material.downloads
            if(material.classificacoes.length == 0)
                td Por classificar 
            else 
                - let soma = 0
                each classi in material.classificacoes 
                   - soma += classi.pontuacao 
                - var nota = soma / material.classificacoes.length 
                td=nota
    h3(style='margin-top: 30px;margin-left: 30px;') Ficheiros:
    table.table(class="w3-table-all w3-card-4" style='margin-left: 40px;width: 60%;')
        tr(style='height: 5px;') 
            td 
                b Nome Ficheiro 
            td 
                b Tamanho 
            td 
                b Tipo 
            td 
                b Visualizar 
        each m in material.ficheiros 
            tr(style='height: 5px;') 
                td=m.nomeFicheiro 
                td=m.tamanho 
                td=m.mimetype 
                td
                    button(type="button" class="resource-btn" onclick=`previewFicheiro("${m.nomeFicheiro}", "${m.diretoria}", "${m.mimetype}")`) 👁

    .col-xs-12.col-sm-4.col-md-4.col-lg-4
        b
            span(style="color:#0074D9; margin-left: 25px;") Classificar: 
    .col-xs-12.col-sm-3.col-md-3.col-lg-4
        div(class="stars rate" data-percent=`${material.classificacao}` style="margin-left: -460px; margin-top: 0px; margin-bottom: 0px")
            a(class="classificarRecurso" href=`/materiais/${material._id}/classificar/20#${material._id}` title="Horrível") ★
            a(class="classificarRecurso" href=`/materiais/${material._id}/classificar/40#${material._id}` title="Decente") ★
            a(class="classificarRecurso" href=`/materiais/${material._id}/classificar/60#${material._id}` title="Bom") ★
            a(class="classificarRecurso" href=`/materiais/${material._id}/classificar/80#${material._id}` title="Muito bom") ★
            a(class="classificarRecurso" href=`/materiais/${material._id}/classificar/100#${material._id}` title="Excelente") ★  
    

    ul.comments   
        l.clearfix
            form(id="comentarPostForm" action='/materiais/'+ material._id+"/addComment" method="POST")
                textarea(id="commentPost" name="corpo" placeholder="Insira o seu comentário..." maxlength="255" style="height:70px; width:50%; resize: none")
                input(class="btn btn-primary" type="submit" id="commentButton" value="Comentar" style='margin-top:-20px;')

        h3 Comentários:
        each c in material.comentarios
            - dataTimeline = moment(new Date(c.dataCriacao)).locale('pt').fromNow() 
            ul(class="w3-ul w3-card-4" style="width:97%;background: #E5E4E2;")
                li(class="w3-bar" style='margin-left: 0px;')
                    if(nivel=="Admninistrador")
                        span(onclick="/materiais/removerComment/"+c._id class="w3-bar-item w3-button w3-right") Apagar
                    img(src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w3-bar-item w3-circle" style="width:85px")
                    div(class="w3-bar-item")
                        span(class="w3-large")
                            l
                                a(href=`/users/${c.id_autor}`)
                                    b
                                        if material.idAutor == c.id_autor 
                                            | Eu 
                                        else 
                                            | #{c.nome_autor} 
                                l.meta(style='font-size: 15px;')
                                    | #{dataTimeline}:
                                    i.pull-right
                        span  
                            p
                                b
                                    | #{c.corpo}