extends layout 

block content 
    if nivel != "IND"
        if(nivel=="Produtor" | nivel == "Administrador" )
            form(action=`/materiais/upload` method="GET" style="display: inline-block")
                    button.btn.btn-primary(type="submit") Adicionar
        table(class="w3-table-all")
            tr 
                th Titulo 
                th Tipo 
                th Data Criação 
                th Descrição 
                th id Autor 
                th Nome Autor
                th Classificação 
                th ficheiros 
                
            each m in materiais 
                tr 
                    td
                        a(href="/materiais/"+m._id)=m.titulo 
                    td=m.tipo
                    td=m.dataCriacao 
                    td=m.descricao 
                    td=m.idAutor 
                    td=m.nomeAutor 
                    if(m.classificacoes.length == 0)
                        td Por classificar 
                    else 
                        - let soma = 0
                        each classi in m.classificacoes 
                            - soma += classi.pontuacao 
                        - var nota = soma / m.classificacoes.length 
                        td=nota
                    td=m.ficheiros.length
                    td 
                        if(nivel=="Administrador")
                            a(href=`/materiais/remover/${m._id}`) Remover
    else 
        a(href="/") Voltar
        h1 Registe-se ou inicie sessão para aceder a esta página
                            