extends layout 

block content 
    if(nivel=="Produtor" || nivel == "Administrador")
        form(action=`/materiais/upload` method="GET" style="display: inline-block")
                button.btn.btn-primary(type="submit") Adicionar
    table(class="w3-table-all")
        tr 
            th Tipo 
            th Titulo 
            th Data Criação 
            th Descrição 
            th id Autor 
            th Nome Autor
            th Classificação 
            th ficheiros 
            
        each m in materiais 
            tr 
                td
                    a(href="/materiais/"+m._id)=m.titulo 
                td=m.tipo 
                td=m.dataCriacao 
                td=m.descricao 
                td=m.idAutor 
                td=m.nomeAutor 
                td=m.classificacao 
                td=m.ficheiros
                td 
                    if(nivel=="Administrador")
                        a(href=`/materiais/remover/${m._id}`) Remover
                            