extends layout

block content
    div(id="navbar" class="topnav")
        a(href='/' style="float: left") Home
        a(id="navbar_resources" href="/materiais" style="float: left") Materiais
        if(nivel=="Administrador")
            a(id="navbar_resources" href="/users" style="float: left") Utilizadores
        if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
            a(href="/users/"+user.dados._id style="float: left") Perfil
            a(href="/users/logout" style="float: right") Logout
            if(nivel=="Administrador")
        else
            a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
            a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo 

    if user
        h1 Informação pessoal
        h3 Email: !{user.dados.email} 
        h3 Nivel: !{user.dados.nivel}
        
        form(action=`/users/editar/`+user.dados._id method="GET" style="display: inline-block")
                button.btn.btn-primary(type="submit") Editar

        if(user.dados.nivel !="Consumidor")
            h2 Publicações:
            if materiais
                table(class="w3-table-all")
                    tr 
                        th Tipo 
                        th Titulo 
                        th Data Criação 
                        th Descrição 
                        th id Autor 
                        th Nome Autor
                        th Classificação 
                        th ficheiros 
                        
                    each m in materiais 
                        tr 
                            td
                                a(href="/materiais/"+m._id)=m.titulo 
                            td=m.tipo 
                            td=m.dataCriacao 
                            td=m.descricao 
                            td=m.idAutor 
                            td=m.nomeAutor
                            if(m.classificacao < 0)
                                td Por classificar 
                            else
                                td=m.classificacao 
                            td=m.ficheiros.length
                            td 
                                if(nivel=="Administrador")
                                    a(href=`/materiais/remover/${m._id}`) Remover
    else 
        h1 User não existente

                