extends layout

block content
    div(id="navbar" class="topnav")
        a(href='/' style="float: left") Home
        a(id="navbar_resources" href="/materiais" style="float: left") Materiais
        if(nivel=="Administrador")
            a(id="navbar_resources" href="/users" style="float: left") Utilizadores
        if(nivel=="Administrador" ||nivel=="Produtor" ||nivel=="Consumidor" )
            a(style="float: left")=nivel
            a(href="/perfil" style="float: left") Perfil
            a(href="/users/logout" style="float: right") Logout
            if(nivel=="Administrador")
        else
            a(id="navbar_login" href='/users/login' style = "cursor: pointer; float: right") Login
            a(id="navbar_signup" href='/users/signup' style = "cursor: pointer; float: right") Registo 

    if user
        h1=user.dados.nome 
            
        p=user.dados.id 
        p=user.dados.email 
        p=user.dados.nivel 
    
    else 
        h1 User não existente

                